<!DOCTYPE html>
<html>
<head>
   <title>Login</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script>
      $(document).ready(function () {
      });
   </script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">NBA Picks</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/picks">Picks</a></li>
        <li><a href="/performance">Performance</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <h2>Performance</h2>
      <hr>
      <table style="width:100%">
        <tr>
          <th>gid</th>
          <th>uid</th> 
          <th>SU pick</th>
          <th>ATS pick</th>
          <th>SU Correct?</th>
          <th>ATS Correct?</th>
        </tr>
        <% for (var i = 0; i < picks.length; i++) { %>
          <tr>
            <td> <%= picks[i].gid %> </td>
            <td> <%= picks[i].uid %> </td>
            <td> <%= picks[i].su_selected_winner %> </td>
            <td> <%= picks[i].ats_selected_winner %> </td>
            <td> <%= picks[i].su_win %> </td>
            <td> <%= picks[i].ats_win %> </td>
          </tr> 
        <% } %>
      </table>
    </div>
  </div>
</body>
</html>